

<section class="feature_part" id="features">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-xl-3 align-self-center">
              <div class="single_feature_text ">
                  <h2 class="feature-class"> Features</h2><hr>
                  <p>We are providing with a blogging website.</p>
                  <!--a href="#" class="btn_1">Read More</a-->
              </div>
          </div>
          <div class="col-sm-6 col-xl-3">
              <div class="single_feature">
                  <div class="single_feature_part">
                      <span class="single_feature_icon"><i class=" fa fa-plus "></i></span>
                      <h3>Posts</h3><hr>
                      <p>Our website is made with so much simplicity. One can easily add posts and update his profile.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-xl-3">
              <div class="single_feature">
                  <div class="single_feature_part">
                      <span class="single_feature_icon"><i class="fa fa-dollar"></i></span>
                      <h3>Cost</h3><hr>
                      <p>We will be provding features that will prove worthy with your cost.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-xl-3">
              <div class="single_feature">
                  <div class="single_feature_part single_feature_part_2">
                      <span class="single_service_icon style_icon"><i class="fa fa-info"></i></span>
                      <h3>Updates</h3><hr>
                      <p>We will be actively engaged in providing with the latest features.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Team -->

<div class="container-fluid our-main-team">
  <div class="container">
  <h1 class="text-center our-team"><span class="mt-4">Our Team</span></h1>
  <div class="row justify-content-center ">

    <div class="col-2"></div>


    
  
    <div class="card col-sm-6 shadow-lg">
      <div class="card-header ">
        <img src="./assets/images/IMG_20190711_195213.jpg" class="rounded-circle img-fluid" style="display:block; width:100%; height:inherit;">
      </div>
      <div class="card-body">
          <h3 class="text-center ">AVINASH KUMAR</h3>
          <p class=" text-center font-size-sm letter-spacing-extra text-gray-700 font-weight-bold margin-top-x1 margin-bottom-x3">Frontend Developer</p>
          
            <h4 class="text-uppercase text-center">CONNECT</h4>
            <div class="text-center social-btn-team">
            <a href="#" target="_blank"><i class="fa fa-facebook-square rounded-circle bg-white mr-2 p-2 "></i></a> 
            <a><i class="fa fa-linkedin rounded-circle bg-white mr-2 p-2"></i></a>
            <a><i class="fa fa-twitter rounded-circle bg-white mr-2 p-2"></i></a>
            <a><i class="fa fa-skype rounded-circle bg-white mr-2 p-2"></i></a>
           <a> <i class="fa fa-github rounded-circle bg-white mr-2 p-2"></i></a>
            <hr>
            </div><!-- <button class="btn align-self-center btn-danger">Send Email</button> -->
      </div>
    </div>
    <div class="col-2"></div>
    </div>
    </div>
    </div>
    


